<!-- Announcement bar -->
{% block announce %}
🎉 If you find the guide helpful, consider giving us a star on <strong>GitHub</strong> on
  <a rel="me" href="https://github.com/rishabkumar7/7DaysOfPython">
    <span class="twemoji github">
      {% include ".icons/fontawesome/brands/mastodon.svg" %}
    </span>
    <strong>Fosstodon</strong>
  </a>
  and
  <a href="https://twitter.com/rishabk7">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    <strong>Twitter</strong>
  </a>
{% endblock %}