@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700,900");
* {
  box-sizing: border-box;
}
body {
  margin-top: 2rem;
  font-family: 'Ubuntu', sans-serif;
  background: #768bfe;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-size: 1.1rem;
}
.searchbox {
  max-width: 20rem;
  margin: 1rem auto;
}
.searchbox__input {
  height: 3rem;
  width: 100%;
  box-shadow: none;
  border: none;
  padding: 0 1rem;
  color: #0125ea;
  border-radius: 0.2rem;
}
.searchbox__button {
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  margin: 1rem 0 0 0;
  background: #b8c3ff;
  color: #2042fe;
  font-weight: 700;
  border-radius: 0.4rem;
}
.searchbox__button:hover {
  background: #9faefe;
}
.card {
  position: relative;
  background: #6c83fe;
  max-width: 20rem;
  margin: 7rem auto 2rem;
  border: solid 5px #536dfe;
  border-radius: 0.4rem;
  padding: 5.5rem 2.5rem 1rem;
}
.card_avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  background: #536dfe;
  padding: 5px;
  max-width: 100%;
  transition: 0.2s;
}
.card_avatar:hover {
  background: #3a57fe;
}
.card_username {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin: 1rem auto;
}
.card_link {
  color: #fff;
  border-bottom: solid 2px #fff;
  text-decoration: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.card_link:hover {
  opacity: 0.8;
}
.card_notfound {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}
/* some non-BEM stuff to avoid overloading the JSX for demo purposes */
dl {
  margin: 0;
  padding: 0;
}
dt,
dd {
  text-align: center;
}
dt {
  font-weight: 900;
  margin-bottom: 0.2rem;
}
dd {
  margin: 0 0 1rem 0;
}
